<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src='./scripts/index_menu.js'></script>
    <link rel="stylesheet" href="./css/menu_style.css"/>
    <link rel="stylesheet" href="./css/styles.css"/>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <%- include('../partials//header.ejs'); %>
    </header>
    <main>
        <div>
            <section>
                <image class="imgBorderR" src="./images/img1.jpg" /><br />
            </section>
        </div>
    </main> <br/>
    <footer class="ftr">
        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>
</html>