<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro Usuarios</title>
    <script src='../scripts/index_menu.js'></script>
    <link rel="stylesheet" href="../css/menu_style.css"/>
    <link rel="stylesheet" href="../css/styles.css"/>
    <link rel="stylesheet" href="../css/forms_styles.css"/>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <image src="https://uploads-ssl.webflow.com/58646eab48ddaea33e981106/58da9320e4118aa50b528c26_WhiteLogo.png" width="30px" height="20px"/>
                <div class="logo_name">Ltda.</div>
            </div>
            <i class='bx bx-menu' id='btn'></i>
        </div>
        <ul class="nav_list">
          <li>
              <a href="../index.html">
                  <i class='bx bx-home' ></i>
                  <span class="links_name">Home</span>
              </a>
              <span class="tooltip">Home</span>
          </li>
          <li>
              <a href="./user_register.html">
                  <i class='bx bx-user' ></i>
                  <span class="links_name">Usuario</span>
              </a>
              <span class="tooltip">Usuario</span>
          </li>
          <li>
              <a href="./property_register.html">
                  <i class='bx bx-building-house' ></i>
                  <span class="links_name">Inmueble</span>
              </a>
              <span class="tooltip">Inmueble</span>
          </li>
          <li>
              <a href="./mission.html">
                  <i class='bx bx-flag' ></i>
                  <span class="links_name">Misión</span>
              </a>
              <span class="tooltip">Misión</span>
          </li>
          <li>
              <a href="./vision.html">
                  <i class='bx bx-target-lock' ></i>
                  <span class="links_name">Visión</span>
              </a>
              <span class="tooltip">Visión</span>
          </li>
          <li>
              <a href="./contact.html">
                  <i class='bx bxs-contact' ></i>
                  <span class="links_name">Contacto</span>
              </a>
              <span class="tooltip">Contacto</span>
          </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="./images/profile1.jpg" alt="profile image">
                    <div class="name_job">
                        <div class="name">Elías T.</div>
                        <div class="job">Web Developer</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </div>
        </div>
    </div>
    <div class="home_content">
      <header>
        <h1 class="titulo"> Test form</h1>
      </header>
      <section class="form-register">
          <h4>Formulario Registro</h4>
          <form action="http://localhost:3000/users/" method="post" autocomplete="off">
              <fieldset class="marco">
                <legend>Registro de usuario</legend>
        
                <label for="name">Nombre:</label><br/>
                <input class="controls" type="text" id="name" name="name" placeholder="Escribe tu nombre" required="true"/><br/>
                
                <label for="lastname">Apellido:</label><br/>
                <input class="controls" type="text" id="lastname" name="lastname" placeholder="Escribe tu apellido" required="true"/><br/>
        
                <label for="email">Email:</label><br/>
                <input class="controls" type="email" id="email" name="email" placeholder="example@gmail.com"/><br/>
        
                <label for="password">Contraseña:</label><br/>
                <input class="controls" type="password" id="password" name="password" placeholder="Escriba su contraseña" required="true"/><br/>
        
                <label>Validar:</label><br/>
                <input type="checkbox" id="validated" name="validated" required="true" value=false>
                <label for="validated">Validar</label><br/>
  
                <label for="rol">Tipo de usuario:</label><br/>
                <select class="controls" id="rol" name="rol">
                  <option value="user" selected="true">User</option>
                  <option value="admin" hidden="true">Admin</option>
                </select><br/>
  
                <label hidden="true">Activo:</label><br/>
                <input type="hidden" id="activo" name="activo" value="true"/>
  
                <input class="boton" type="submit" value="Enviar"/>
                <input class="boton" type="reset" value="Reestablecer valores"/>
              </fieldset>
            </form>
      </section>
    </div>
</body>
</html>

